#! /bin/sh

sudo yum -y localinstall http://fedorapeople.org/groups/katello/releases/yum/nightly/katello/RHEL/7Server/x86_64/katello-repos-latest.rpm  # The '-y' is assumes yes if prompted

sudo yum -y localinstall http://yum.theforeman.org/nightly/el7/x86_64/foreman-release.rpm # The '-y' is assumes yes if prompted

sudo yum -y localinstall http://mirror.pnl.gov/epel/7/x86_64/e/epel-release-7-5.noarch.rpm # The '-y' is assumes yes if prompted

sudo yum -y localinstall http://yum.puppetlabs.com/puppetlabs-release-el-7.noarch.rpm # The '-y' is assumes yes if prompted

sudo yum -y localinstall https://www.softwarecollections.org/en/scls/rhscl/v8314/epel-7-x86_64/download/rhscl-v8314-epel-7-x86_64.noarch.rpm # The '-y' is assumes yes if prompted

sudo yum -y localinstall https://www.softwarecollections.org/en/scls/rhscl/ruby193/epel-7-x86_64/download/rhscl-ruby193-epel-7-x86_64.noarch.rpm # The '-y' is assumes yes if prompted

sudo yum -y install katello # The '-y' is assumes yes if prompted
